html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}

body {
    font-family: "NeueCyr-Light";
    font-size: 14px;
    background-image:url(../img/background.jpg);
    color: #1a1f22;
    background-size: cover;
}


table {border-collapse: collapse;border-spacing: 0;}
strong, b {
    font-weight: bold;
    font-family: "PTSAnsBOld";
}
i {
    font-family: "PTSansItalic";
}

.cr {
    width: 1000px;
    margin: 0 auto;
    clear: both;
}
.rel{
position:relative;
}
.cr_mid{
  width:1200px;
  margin: 0 auto;
  overflow: hidden;
}
.cr_bot{
  width:665px;
  margin: 0 auto;
  overflow: hidden;
}
.fl_l{float:left;}
.fl_r{float:right;}
.ov{overflow:hidden;}
a {
    text-decoration: none;
    color: #2e50cb;
}
.m-no{margin:0px !important;}
.clear{clear:both;}
.hov{text-decoration:underline;}
.img_h:hove{opacity:0.8;}
.b-bot{border-bottom:none!important;}
.m-r{margin-right:0px!important;}